
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Hello ASP
<br>
<a href="/Home/About">About</a>
<a href="/Home/About/1">Contact</a>
</br>

<form action="/Home/Index" method="post">
    Name: <input name="personName" />
    <input type="submit" name="btnSubmit" value="Say Hello" />
</form>

Id = @ViewData["id"]